* {
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
}

body {
    background-color: #434142;
    font-family: 'Consolas', 'Helvetica', monospace;
    color: #FDD540;
    font-size: 36px;
}

a {
    color: #F2D264;
    text-decoration: none;
}

a:hover {
    color: #FFCB05;
}

main {
    position: relative;
}

#account {
    position: relative;
    left: 0;
    height: 100vh;
    width: 30%;
    background-color: #696668;
}

#account .account_element {
    margin-bottom: 3%;
}

#account .account_element:last-child {
    margin-bottom: 0;
}

#element_list {
    position: absolute;
    width: 87%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#content {
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;
    height: 100vh;
}

#content h1 {
    color: #FFCB05;
    font-size: 54px;
    position: absolute;
    left: -18%;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
}

#background {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    overflow: hidden;
}

#background img {
    position: absolute;
    width: 248px;
    height: 256px;
    bottom: 0;
    right: 0;
}